In [ ]:
import pandas as pd

# 读取两个CSV文件到pandas DataFrame中
# 确保文件路径是正确的
df_1898 = pd.read_csv('filtered_island_1898.csv')
df_179 = pd.read_csv('filtered_island_179.csv')

# 使用merge函数进行外连接，并添加一个指示器列
# indicator=True会添加一个名为'_merge'的列，标明每一行的来源
merged_df = df_1898.merge(df_179, how='left', indicator=True)

# 筛选出只存在于左边DataFrame（即df_1898）中的行
# 这些行的'_merge'列的值会是'left_only'
df_diff = merged_df[merged_df['_merge'] == 'left_only']

# （可选）删除merge函数添加的'_merge'列
df_diff = df_diff.drop(columns=['_merge'])

# 显示结果DataFrame的前几行
print(df_diff)

          ID        Long        Lat           Country                 Island  \
0        988  -68.960532 -55.246549             Chile             Isla Hoste
1       1028  -67.644515 -55.084701             Chile          Isla Navarino
2       1152  -64.315773 -54.798325         Argentina    Isla de los Estados
3       2147  -70.595284 -53.964415             Chile            Isla Dawson
4       3007  -68.677673 -54.054777  Argentina; Chile  Isla Tierra del Fuego
...      ...         ...        ...               ...                    ...
1894   85149 -138.829615  -9.985292  French Polynesia               Mohotani
1895   85150   -5.708494 -15.959406      Saint Helena    Saint Helena Island
1896  100046   -3.110323  59.013431    United Kingdom             Inner Holm
1897  100049   -2.912430  58.853893    United Kingdom                 Burray
1898  100050   -2.953947  58.791598    United Kingdom        South Ronaldsay

         pop                       geometry    id  cluster   Region
0        129  POINT (-68.960532 -55.246549)     0       -1  Unknown
1       1682  POINT (-67.644515 -55.084701)     1       -1  Unknown
2        240  POINT (-64.315773 -54.798325)     2       -1  Unknown
3        129  POINT (-70.595284 -53.964415)     3       -1  Unknown
4     167448  POINT (-68.677673 -54.054777)     4       -1  Unknown
...      ...                            ...   ...      ...      ...
1894     116  POINT (-138.829615 -9.985292)  2010        5  Unknown
1895    6039   POINT (-5.708494 -15.959406)  2011       -1  Unknown
1896   11469    POINT (-3.110323 59.013431)  2012       47   Europe
1897    2038     POINT (-2.91243 58.853893)  2013       47   Europe
1898    2038    POINT (-2.953947 58.791598)  2014       47   Europe

[1722 rows x 10 columns]

In [3]:
# 将结果保存到新的CSV文件中
df_diff.to_csv('islands_tobe_calculated.csv', index=False)